<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Yang.modules.book.dao.BookDao">

	<select id="countPeople" resultType="java.lang.Integer">
		select count(1) a
		from a_user
		where parent_id = #{openId}
		UNION ALL
		select count(1) b
		from a_user
		where parent_id = #{openId} and subscribe = 1
	</select>

</mapper>